@{
    ViewData["Title"] = "Service Page";
}

<div class="text-center">
    <h1 class="display-4">Service Page</h1>
</div>


<p> Mauris vitae luctus metus. Maecenas mi nisi, consectetur ac dignissim vel, consectetur id metus. Quisque sed justo urna. Quisque consectetur tellus elit, finibus tincidunt nibh commodo hendrerit. Quisque consequat purus sit amet mauris lobortis, ut fermentum risus faucibus. Duis sit amet lorem odio. Ut leo neque, lobortis sed ex eget, scelerisque volutpat massa. Phasellus at mattis lorem. Nam elementum sapien vitae aliquam sodales. In at odio ac lorem sollicitudin facilisis eget in orci.</p>