<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nested Layout Page In ASP.NET CORE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><b>Nested Layout Page In ASP.NET CORE</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Nested" asp-action="Index">Nested</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div id="electronicsnav" class="list-group ">
                    <a href="#" class="list-group-item list-group-item-action active">
                        CATEGORIES
                    </a>
                    <a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Nested">Nesteds</a>
                    <a class="list-group-item list-group-item-action"  asp-action="Index" asp-controller="Product">Products</a>
                    <a class="list-group-item list-group-item-action"  asp-action="Index" asp-controller="Service">Services</a>
                    <a class="list-group-item list-group-item-action"  asp-action="Index" asp-controller="About">About</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="electronics" class="jumbotron p-3">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
</div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NestedLayoutPageInAspNetCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
