@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>Aliquam facilisis vulputate ante at dictum. Cras suscipit scelerisque auctor. Cras tincidunt dui sit amet dui egestas sagittis. Nulla in pellentesque lorem, vitae interdum nisl. Cras lacus tortor, rutrum at justo a, auctor placerat massa. Curabitur nibh leo, faucibus vitae auctor non, posuere vel elit. Nam id sem a nibh sollicitudin commodo sed sed augue. Nam malesuada neque in eros facilisis volutpat. Mauris vel blandit sapien. Nam quis libero magna. Praesent lobortis nisi non dui tincidunt faucibus. Phasellus ac accumsan lacus. Proin enim urna, ultricies at varius pellentesque, laoreet at velit.</p>
<p>
    Aliquam fringilla eget metus ac suscipit. Nunc semper sollicitudin neque, id ultricies urna dignissim et. Mauris semper, est ut euismod efficitur, enim lacus aliquam nulla, sit amet venenatis erat nisl et est. Morbi egestas tincidunt nisi ut blandit. Morbi vulputate, justo finibus eleifend ultrices, dui eros maximus justo, id vehicula ante nulla et sem. Mauris euismod feugiat purus, at vestibulum ex varius vestibulum. Cras elit risus, porta laoreet tellus at, dapibus interdum lectus.
</p>
<p>
    Suspendisse pulvinar, leo hendrerit imperdiet rhoncus, ligula ipsum cursus nisl, eget consequat elit dui vitae lacus. Nullam ullamcorper dolor sit amet lacus dignissim tincidunt. Sed euismod porttitor fermentum. Phasellus sed elit ut lorem feugiat sagittis. Duis rhoncus neque ac quam venenatis, sit amet fringilla ante scelerisque. Maecenas vel interdum mauris. Aenean hendrerit et felis vel faucibus. Pellentesque convallis libero porttitor pharetra aliquet. Aliquam imperdiet, justo vel consectetur rutrum, nisi risus ornare tortor, eget feugiat ante turpis vel dui. Cras scelerisque nisi at eros blandit vehicula. Nullam justo diam, luctus nec dolor quis, placerat porta lectus.
</p>


