@{
    Layout = "~/Views/Nested/_LayoutNested.cshtml";
    ViewData["Title"] = "Nested Main Page";
}
<h3>Nested Main Page</h3>
<hr />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue sagittis odio non pharetra. Morbi at mi sit amet purus dictum ullamcorper. Aliquam massa urna, egestas non purus ac, condimentum porttitor est. Morbi porta urna volutpat, lobortis ligula non, porttitor diam. Fusce tempus vestibulum erat sed fringilla. Fusce et risus aliquam, pretium dui et, fermentum mi. Praesent bibendum risus in molestie bibendum. Pellentesque auctor magna turpis, eu mollis mi placerat in. Phasellus venenatis nibh arcu, pulvinar commodo elit finibus non.</p>

<p>  Ut ac quam lectus. In hac habitasse platea dictumst. Mauris vitae luctus metus. Maecenas mi nisi, consectetur ac dignissim vel, consectetur id metus. Quisque sed justo urna. Quisque consectetur tellus elit, finibus tincidunt nibh commodo hendrerit. Quisque consequat purus sit amet mauris lobortis, ut fermentum risus faucibus. Duis sit amet lorem odio. Ut leo neque, lobortis sed ex eget, scelerisque volutpat massa. Phasellus at mattis lorem. Nam elementum sapien vitae aliquam sodales. In at odio ac lorem sollicitudin facilisis eget in orci.</p>